.navbar{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content:center;

}

li {
    float:left;
    margin-left: 75px;
    margin-right: 75px;
    padding: 5px;
}

.yy{
    justify-content: center;
}