
  h1 {
    color: #333;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
